@media (max-width: 412px) {
  /* HEADER */
  #header {
    height: 500px;
    background: #f3f3f3;
  }

  #logo {
    display: none;
  }

  #showcase {
    max-width: auto;
    padding: 0 10px;
    padding-top: 10px;
    margin: auto;
  }

  /* PRICING */
  .pricingContainer {
    max-width: auto;
  }

  /* CARD */
  .cardsList {
    flex-direction: column;
  }

  .card {
    width: auto;
  }

  /* SIGNUP */
  .newsletters form {
    display: inline-block;
    text-align: center;
  }

  .newsletters form input {
    flex: none;
    height: 50px;

    font-size: 18px;
    margin: 1rem 0;
    padding: 0 20px;
  }

  .newsletters .button {
    flex: none;
    height: 50px;
    margin-left: 0;
    color: #ffffff;
    font-size: 18px;
  }

  .signupContainer > p {
    width: auto;
    height: auto;
    margin: 0.5rem;
  }
}
